DATABASE_URL=postgresql+psycopg://cados:CHANGE_ME@database.example.internal:5432/cados
CADOS_PUBLIC_URL=https://www.cados.saibot.at
CADOS_ADMIN_EMAIL=you@example.com
CADOS_ADMIN_PASSWORD=CHANGE_TO_A_UNIQUE_PASSWORD_AT_LEAST_12_CHARACTERS
